<div class="container">
    <div class="card border-info mb-3">
        <div class="card-header">
            <h2>Visão Geral do Projeto</h2>
        </div>
        <div class="card-body text-primary">
            <span class="badge badge-pill badge-dark">Os links para as guias citadas abaixo estão na navbar, no topo
                da página.</span>
        </div>

        <div class="card-body">
            <p class="card-text text-info"><b>Olá! Seja bem vindo(a) ao meu DevCase.</b></p>
            <p class="card-text text-info">Devido à limitação temporal e à necessidade de adquirir conhecimentos
                extras ao lidar com as tecnologias especificadas, nessa Sprint foi possível implementar apenas algumas
                funcionalidades, que serão
                discutidas abaixo.</p>
            <p class="card-text text-info">Como o projeto não foi concluído, abaixo será apresentado um resumo do que
                foi implementado, o que faltou, e possíveis soluções.</p>
            <p class="card-text text-info"><b>A todos os envolvidos: Obrigada! </b></p>
        </div>


        <div class="card-body">
            <h5 class="card-title">Dashboard</h5>
            <p class="card-text">O Dashboard ainda não foi implementado. Por isso, nesta página, será mostrado um resumo
                do que foi desenvolvido no tempo proposto.</p>
            <p class="card-text"><u>O objetivo:</u> O esperado da guia Dashboard é que mostrasse ao usuário a visão
                geral geral dos
                clientes cadastrados, suas pontuações e últimas vendas cadastradas; visualização de informações e
                aplicação de filtros de busca.</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text"><u>Funcionalidades Implementadas:</u> Recebe os dados em formulário; Armazena
                registros; Exibe
                listagem geral. Os dados do formulário são validados automaticamente (Client-Side) e dicas são exibidas
                ao usuário para
                auxiliá-lo no preenchimento.</p>
            <p class="card-text"> <u>Funcionalidades Pendentes:</u> Alterar registro; Excluir registro.</p>
            <p class="card-text"><u>Melhorias Futuras:</u> Implementar validador de CPF, e-mail e CEP; importar lista de
                cidades e UF para seleção via menu drop-down, facilitando a experiência do usuário e evitando erros
                de digitação por parte do usuário.</p>

        </div>
        <div class="card-body">
            <h5 class="card-title">Regras de Pontuação</h5>
            <p class="card-text"><u>Funcionalidades Implementadas:</u> A estrutura foi iniciada no Back-End, mas não
                foram
                concluídas nessa Sprint.</p>
            <p class="card-text">
                <p class="card-text"><u>Funcionalidades Pendentes:</u> Cadastrar Pontuação via formulário; Alterar
                    registro;
                    Excluir registro; Listar regras ativas.</p>
                <p class="card-text"><u>Ideia de Implementação</u>: Receber os dados de pontuação via "range", alterando
                    automaticamente os valores máximos e mínimos de acordo com o que cadastrado. Ex.: [Regra 1] =
                    Usuário seleciona Valor Mínimo=R$0 e Valor máximo=R$50; então, automaticamente, cria-se a [Regra 2]
                    com valor mínimo=R$50,01, com valor máximo e pontuação a ser definida pelo usuário.</p>
        </div>

        <div class="card-body">
            <h5 class="card-title">Vendas</h5>
            <p class="card-text"><u>Funcionalidades Implementadas:</u> A estrutura foi iniciada no Back-End, mas não
                foram
                concluídas nessa Sprint. Há o formulário para cadastro, porém não está funcional. </p>
            <p class="card-text">
                <p class="card-text"><u>Funcionalidades Pendentes:</u> Integrar funcionalidade à API do PDV da VSM,
                    recebendo dados das vendas realizadas a atualizando automaticamente as pontuações.</p>
        </div>

        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text"><u>Funcionalidades Pendentes:</u> Implementar funcionalidades de autenticação de
                usuários e validação de Sessões (login/logout).</p>
        </div>


    </div>

</div>