<!--NAVBAR-->
<nav class="nav">

  <div class="navLogo">
    <h2 class="logo"></h2>
  </div>
  <ul class="nav-ul">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/clientes">Cadastrar Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/scores">Regras de Pontuação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/sales">Vendas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/blabla">[Teste aqui o 404!]</a>
      </li>
  </ul>
</nav>
<!--FIM NAVBAR-->